.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  margin-bottom: 40px;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.job, .education-entry {
  margin-bottom: 20px;
}

.publication, .project {
  margin-bottom: 20px;
}

.publication h3, .project h3 {
  margin-bottom: 5px;
}

.publication p, .project p {
  margin-bottom: 10px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.education-entry, .job {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.education-logo, .company-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #333;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0073b1; /* LinkedIn color */
}

.social-icons a:nth-child(2):hover {
  color: #333; /* GitHub color */
}

.social-icons a:nth-child(3):hover {
  color: #A6CE39; /* ORCID color */
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}